<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/3bb14eca3e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <% if(flash.success && flash.success.length > 0){%>
                <h5>
                    <%= flash.success %>
                </h5>
            <%} %>
        <!-- this is where the variable part of different webpages will be rendered -->
        <%- body %>
        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>