<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/3bb14eca3e.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <!-- this is where the variable part of different webpages will be rendered -->
        <%- body %>
        <%- include('_footer'); %>

        <%- script %>
        <script>
            <% if(flash.success && flash.success.length > 0){ %>
                new Noty({
                    theme : 'relax',
                    text : "<%= flash.success%>",
                    type : 'success',
                    layout : 'topRight',
                    timeout : 2000
                }).show();
            <%} %>
            <% if(flash.error && flash.error.length > 0){ %>
                new Noty({
                    theme : 'relax',
                    text : "<%= flash.success%>",
                    type : 'error',
                    layout : 'topRight',
                    timeout : 2000
                }).show();
            <%} %>


        </script>
    </body>
</html>